$primary-color: rgb(138, 204, 178);
$secondary-color: rgb(28, 90, 102);
$thirdy-color: rgb(147, 238, 255);

body {
  font-family: 'Roboto', sans-serif !important;
  background-color: #CAE5E5 !important;
}

.container-fluid {
   padding: 0;
}

.home {
  background-color: pink;
}
.col-xs-12 {
  padding-right: 0;
}
